<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../common/modal-confirmation.html">
<link rel="import" href="../common/generic-dm.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="account-item">
    <template>
        <style include="shared-styles"></style>
        <style>
            .text {
                width: 800px;
            }
            .amount {
                width: 200px;
            }
        </style>
        <div class="ss-padding-2x ss-hover ss-pointer ss-flex-row ss-border-bottom-light" on-click="_click">
            <div class="ss-flex-column text">
                <span class="ss-section-title">{{item.name}}</span>
                <span class="ss-font-sm">{{item.number}}</span>
            </div>
            <div class="ss-flex-column ss-flex-justify-center amount">
                <cells-atom-amount class="amount-large" amount="{{item.balance}}" currency-code="EUR" language="es"></cells-atom-amount>
            </div>
            <div class="ss-flex-row ss-flex-align-center">
                <iron-icon class="ss-padding" on-click="_edit" icon="banking:N04"></iron-icon>
                <iron-icon class="ss-padding" on-click="_delete" icon="banking:N27"></iron-icon>
            </div>
        </div>
        <modal-confirmation id="deleteConfirmation" type="info" text="Se borrará la cuenta {{item.name}}"
            on-modal-closed-yes="_deleteConfirmed"
        ></modal-confirmation>
        <generic-dm id="accounts" endpoint="/accounts"
            on-delete-success="_deleted"
        ></generic-dm>
    </template>

    <script>
    class AccountItem extends Polymer.Element {
        static get is() {
            return 'account-item';
        }

        static get properties() {
            return {
                item: Object
            };
        }

        _click() {
            this.dispatchEvent(new CustomEvent('account-click', {detail: {accountid: this.item._id}}));
        }

        _edit(e) {
            this.dispatchEvent(new CustomEvent('account-edit', {detail: {accountid: this.item._id}}));
            e.stopPropagation();
        }

        _delete(e) {
            this.$.deleteConfirmation.show();
            e.stopPropagation();
        }

        _deleteConfirmed() {
            this.$.accounts.delete(this.item._id);
        }

        _deleted() {
            Cells.Bus.channel('accounts').publish();
        }
    }

    customElements.define(AccountItem.is, AccountItem);
    </script>
</dom-module>
