<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="account-item.html">

<dom-module id="accounts-list">
    <template>
        <style></style>
        <template is="dom-repeat" items="{{accounts}}">
            <account-item item="{{item}}" on-account-click="_click" on-account-edit="_edit"></account-item>
        </template>
    </template>

    <script>
    class AccountsList extends Polymer.Element {
        static get is() {
            return 'accounts-list';
        }

        static get properties() {
            return {
                accounts: Array
            };
        }

        _click(data) {
            this.dispatchEvent(new CustomEvent('account-click', data));
        }

        _edit(data) {
            this.dispatchEvent(new CustomEvent('account-edit', data));
        }
    }

    customElements.define(AccountsList.is, AccountsList);
    </script>
</dom-module>
