<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="movements-header">
    <template>
        <style>
        :host {
            border-bottom: 1px solid #12121215;
            color: #004481;
            font-weight: normal;
        }
        .header {
            display: flex;
            justify-content: flex-start;
            padding: 10px;
        }
        .date {
            width: 100px;
            text-align: center;
        }
        .description {
            flex-grow: 1;
            margin-left: 30px;
        }
        .amount {
            width: 200px;
            text-align: right;
        }
        </style>
        <div class="header">
            <span class="date">Fecha</span>
            <span class="description">Descripción</span>
            <span class="amount">Importe</span>
            <span class="amount">Disponible</span>
        </div>
    </template>

    <script>
    class MovementsHeader extends Polymer.Element {
        static get is() {
            return 'movements-header';
        }

        static get properties() {
            return {
            };
        }
    }

    customElements.define(MovementsHeader.is, MovementsHeader);
    </script>
</dom-module>
