<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../common/date-label.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="movement-item">
    <template>
        <style include="shared-styles"></style>
        <style>
        date-label {
            width: 100px;
        }
        .amount {
            width: 200px;
        }
        </style>
        <div class="ss-padding-2x ss-hover ss-pointer ss-flex-row ss-border-bottom-light" on-click="_click">
            <date-label date="{{item.date}}"></date-label>
            <div class="ss-flex-column ss-flex-grow-1 ss-flex-justify-center ss-margin-left">
                <template is="dom-if" if="{{item.description}}">
                    <span class="description">{{item.description}}</span>
                </template>
                <template is="dom-if" if="{{!item.description}}">
                    <span class="description">Sin descripción</span>
                </template>
                <template is="dom-if" if="{{item.category}}">
                    <span class="ss-font-sm">{{item.category}}</span>
                </template>
                <template is="dom-if" if="{{!item.category}}">
                    <span class="ss-font-sm">Sin categorizar</span>
                </template>
            </div>
            <div class="ss-flex-row ss-flex-justify-end ss-flex-align-center amount">
                <cells-atom-amount class="amount-large" amount="{{item.amount}}" currency-code="EUR" language="es"></cells-atom-amount>
            </div>
            <template is="dom-if" if="{{item.balance}}">
                <div class="ss-flex-row ss-flex-justify-end ss-flex-align-center amount">
                    <cells-atom-amount class="amount-large" amount="{{item.balance}}" currency-code="EUR" language="es"></cells-atom-amount>
                </div>
            </template>
        </div>
    </template>

    <script>
    class MovementItem extends Polymer.Element {
        static get is() {
            return 'movement-item';
        }

        static get properties() {
            return {
                item: Object
            };
        }

        _click(e) {
            this.dispatchEvent(new CustomEvent("movement-selected", {detail: {accountid: this.item.account, movementid: this.item._id}}));
        }
    }

    customElements.define(MovementItem.is, MovementItem);
    </script>
</dom-module>
