<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-molecule-date-input/cells-molecule-date-input.html">

<link rel="import" href="../common/form-controls.html">
<link rel="import" href="../common/form-buttons.html">
<link rel="import" href="../common/generic-dm.html">
<link rel="import" href="../common/location-map.html">
<link rel="import" href="../common/modal-confirmation.html">

<link rel="import" href="../../shared-styles.html">


<dom-module id="movement-form">
    <template>
        <style include="shared-styles"></style>
        <style>
        .row > * {
            display: inline-block;
            min-height: 80px;
        }
        cells-molecule-input,cells-molecule-date-input {
            width: 500px;
        }
        location-map {
            width: 1020px;
            height: 500px;
        }
        </style>

        <div id="form" hidden>
            <form-controls form-help="Datos del movimiento">
                <div class="row ss-flex-row ss-flex-align-center ss-margin-bottom">
                    <div>
                        <cells-molecule-date-input allow-past-date required="true" id="date" class="ss-margin-right" auto-validate></cells-molecule-date-input>
                    </div>
                    <cells-molecule-input autofocus required="true" id="amount" label="Importe (€)" type="number" step="0.01" auto-validate error-message="Debes introducir un importe"></cells-molecule-input>
                </div>
                <div class="row ss-flex-row ss-flex-align-center ss-margin-bottom">
                    <cells-molecule-input id="description" label="Descripción" type="text" class="ss-margin-right"></cells-molecule-input>
                    <cells-molecule-input id="category" label="Categoría" type="text"></cells-molecule-input>
                </div>
                <div class="row ss-flex-row ss-flex-align-center ss-margin-bottom">
                    <location-map id="map" on-location-changed="_locationChanged"></location-map>
                </div>
            </form-controls>

            <div class="ss-flex-row ss-flex-justify-end ss-margin-top">
                <cells-st-button class="size-xs link ss-margin-left">
                    <button on-click="_cancel">Cancelar</button>
                </cells-st-button>
                <template is="dom-if" if="{{movementid}}">
                    <cells-st-button class="size-xs secondary ss-margin-left">
                        <button on-click="_delete">Eliminar</button>
                    </cells-st-button>
                </template>
                <cells-st-button class="size-xs ss-margin-left">
                    <button on-click="_save">Aceptar</button>
                </cells-st-button>
            </div>
        </div>

        <modal-confirmation id="deleteConfirmation" type="info" text="Se borrará el movimiento"
            on-modal-closed-yes="_deleteConfirmed"
        ></modal-confirmation>
        <generic-dm id="movements" endpoint="/accounts/{{accountid}}/movements"
        on-create-success="_movementCreated"
        on-get-success="_movementLoaded"
        on-edit-success="_movementCreated"
        on-delete-success="_movementDeleted"
        ></accounts-dm>
    </template>

    <script>
    class MovementForm extends Polymer.Element {
        static get is() {
            return 'movement-form';
        }

        static get properties() {
            return {
                accountid: String,
                movementid: {
                    type: String,
                    observer: "_loadMovement"
                }
            };
        }

        ready() {
            super.ready();
            this._loadMovement();
        }

        refresh() {
            this.$.map.refresh();
        }

        _loadMovement() {
            if (this.movementid) {
                this.$.form.setAttribute('hidden', true);
                this.$.movements.get(this.movementid);
            } else {
                this._movementLoaded(undefined);
            }
        }

        _movementLoaded(data) {
            if (data) {
                var obj = data.detail;
                this.$.date.date = moment(obj.date).valueOf();
                this.$.amount.value = obj.amount;
                this.$.description.value = obj.description;
                this.$.category.value = obj.category;
                this.$.map.location(obj.location);
            }
            this.$.form.removeAttribute('hidden');
            this.$.map.refresh();
        }

        _locationChanged(data) {
            this.latitude = data.detail.location.lat;
            this.longitude = data.detail.location.lng;
            this.address = "";
            if (data.detail.name) {
                this.address = this.address + data.detail.name + ", ";
            }
            this.address = this.address + data.detail.address;
        }

        _delete(e) {
            this.$.deleteConfirmation.show();
        }

        _deleteConfirmed() {
            this.$.movements.delete(this.movementid);
        }

        _movementDeleted() {
            this.dispatchEvent(new CustomEvent('success'));
            this._reset();
        }

        _cancel() {
            this.dispatchEvent(new CustomEvent('cancel'));
            this._reset();
        }

        _reset() {
            this.movementid = undefined;
            this.accountid = undefined;
            this.$.date.date = moment.utc().valueOf();
            this.$.amount.value = undefined;
            this.$.amount.invalid = false;
            this.$.description.value = undefined;
            this.$.description.invalid = false;
            this.$.category.value = undefined;
            this.$.category.invalid = false;
            this.$.map.reset();
        }

        _save() {
            if (this.$.amount.validate()) {
                var movement = {
                    account: this.accountid,
                    date: moment.utc(this.$.date.showDate).format("YYYY-MM-DD"),
                    amount: Number(this.$.amount.value),
                    description: this.$.description.value,
                    category: this.$.category.value
                };
                console.info(MovementForm.is, movement);
                if (this.latitude && this.longitude) {
                    movement.location = {name: this.address, coordinates: [this.latitude, this.longitude]};
                }
                if (this.movementid) {
                    this.$.movements.edit(this.movementid, movement);
                } else {
                    this.$.movements.create(movement);
                }
            }
        }

        _movementCreated(data) {
            this.dispatchEvent(new CustomEvent('success'));
            this._reset();
        }
    }
    customElements.define(MovementForm.is, MovementForm);
    </script>
</dom-module>
