<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<link rel="import" href="movement-item.html">

<dom-module id="movements-list">
    <template>
        <template is="dom-repeat" items="{{movements}}">
            <movement-item item="{{item}}" on-movement-selected="_selected"></movement-item>
        </template>
    </template>

    <script>
    class MovementsList extends Polymer.Element {
        static get is() {
            return 'movements-list';
        }

        static get properties() {
            return {
                movements: Array
            };
        }

        ready() {
            super.ready();
            this.addEventListener('scroll', function(e) {
                if (e.target.offsetHeight + e.target.scrollTop == e.target.scrollHeight) {
                    this.dispatchEvent(new CustomEvent("end-scrolling"));
                }
            });
        }

        _selected(data) {
            this.dispatchEvent(new CustomEvent("movement-selected", data));
        }
    }

    customElements.define(MovementsList.is, MovementsList);
    </script>
</dom-module>
