<link rel="import" href="../bower_components/banking-icons/banking-icons.html">
<link rel="import" href="../bower_components/coronita-icons/coronita-icons.html">
<link rel="import" href="../bower_components/cells-coronita-theme/cells-coronita-theme.html">
<link rel="import" href="../bower_components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../bower_components/cells-icon-message/cells-icon-message.html">
<link rel="import" href="../bower_components/cells-middle-modal/cells-middle-modal.html">

<script src="../bower_components/cells-static/dist/cells-static.min.js"></script>
<script src="../bower_components/moment/min/moment.min.js"></script>
<script src="../bower_components/moment/locale/es.js" charset="UTF-8"></script>
<script src="../bower_components/underscore/underscore-min.js"></script>

<script src="./app.js"></script>

<link rel="import" href="shared-styles.html">
<link rel="import" href="../bower_components/polymer/polymer.html">
<link rel="import" href="components/common/app-header.html">

<dom-module id="app-shell">
    <template>
        <style include="shared-styles"></style>

        <app-header
            on-user-unknown="_userUnknown"
            on-navigate="_navigate"
        ></app-header>
        <div id="app__container"></div>
    </template>

    <script>
    class AppShell extends Polymer.Element {
        static get is() {
            return 'app-shell';
        }

        static get properties() {
            return {
            };
        }

        _userUnknown() {
            Cells.Router.navigate('login');
        }

        _navigate(data) {
            Cells.Router.navigate(data.detail.where);
        }
    }

    window.customElements.define(AppShell.is, AppShell);
    </script>
</dom-module>
