<dom-module id="shared-styles">
    <template>
        <style>
        .ss-margin-right {
            margin-right: 20px;
        }
        .ss-margin-left {
            margin-left: 20px;
        }
        .ss-margin-bottom {
            margin-bottom: 20px;
        }
        .ss-margin-top {
            margin-top: 20px;
        }

        .ss-padding {
            padding: 10px;
        }

        .ss-padding-2x {
            padding: 20px;
        }

        .ss-border-bottom-light {
            border-bottom: 1px solid #12121215;
        }
        .ss-border-bottom-dark {
            border-bottom: 1px solid #12121230;
        }
        .ss-section-title {
            color: #004481;
            font-size: 18px;
            font-weight: 800;
        }
        .ss-flex-row {
            display: flex;
            flex-direction: row;
        }
        .ss-flex-column {
            display: flex;
            flex-direction: column;
        }
        .ss-flex-row-right {
            justify-content: flex-end;
        }
        .ss-flex-grow-1 {
            flex-grow: 1;
        }
        .ss-flex-grow-05 {
            flex-grow: 0.5;
        }
        .ss-flex-justify-center {
            justify-content: center;
        }
        .ss-flex-justify-end {
            justify-content: flex-end;
        }
        .ss-flex-align-center {
            align-items: center;
        }
        .ss-flex-align-end {
            align-items: end;
        }
        .ss-bold {
            font-weight: bold;
        }
        .ss-pointer {
            cursor: pointer;
        }

        .ss-hover:hover {
            background-color: #E9F6FD;
        }

        .ss-font-sm {
            font-size: 13px;
        }

        iron-icon:hover {
            color: #004481;
        }

        cells-molecule-date-input {
            padding: 10px;
            background-color: #F2F2F2;
            min-width: 180px;
            min-height: 50px;
        }

        .negative { color: var(--bbva-dark-red); }
        </style>
    </template>
</dom-module>
