<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/common/generic-dm.html">
<link rel="import" href="../components/accounts/accounts-list.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/common/load-spinner.html">

<dom-module id="accounts-page">
    <template>
        <style include="shared-styles"></style>
        <style>
            load-spinner {
                height: 100%;
            }
        </style>
        <custom-page>
            <load-spinner id="load"></load-spinner>
            <div id="container">
                <page-header title="Cuentas" button-text="Nueva cuenta"
                on-button-pressed="_create"
                ></page-header>

                <template is="dom-if" if="{{noaccounts}}">
                    <span>Aún no tienes ninguna cuenta. Puedes crear una en el botón que aparece en la parte superior derecha.</span>
                </template>
                <template is="dom-if" if="{{!noaccounts}}">
                    <accounts-list accounts="{{data}}" on-account-click="_click" on-account-edit="_edit"></accounts-list>
                </template>
            </div>
            <generic-dm id="accounts" endpoint="/accounts"
            on-list-success="_accountsLoaded"
            ></generic-dm>
            <generic-dm id="balances" endpoint="/balances"
            on-list-success="_balancesLoaded"
            ></generic-dm>
        </custom-page>
    </template>

    <script>
    class AccountsPage extends Polymer.Element {
        static get is() {
            return 'accounts-page';
        }
        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            Cells.Bus.channel('accounts').subscribe(this.load.bind(this));
            Cells.Bus.channel('login').subscribe(this.load.bind(this));
            Cells.Bus.channel('logout').subscribe(this._logout.bind(this));
            this.load();
        }

        load() {
            this.$.container.style.display = 'none';
            this.$.load.show();
            this.accounts = undefined;
            this.noaccounts = undefined;
            this.balances = undefined;
            this.data = undefined;
            this.$.accounts.list();
            this.$.balances.list();
        }

        _accountsLoaded(data) {
            this.accounts = data.detail;
            this.noaccounts = this.accounts.length == 0;
            console.info(AccountsPage.is, this.accounts);
            this._mergeData();
        }

        _balancesLoaded(data) {
            this.balances = data.detail;
            console.info(AccountsPage.is, this.balances);
            this._mergeData();
        }

        _mergeData() {
            if (this.accounts && this.balances) {
                var self = this;
                _.each(this.accounts, function(acc) {
                    var balance = _.find(self.balances.accounts, function(bal) {
                        return bal.account === acc._id;
                    });
                    acc.balance = balance.balance;
                });
                this.data = this.accounts;
                this.$.load.hide();
                this.$.container.style.display = 'block';
            }
        }

        _create() {
            Cells.Router.navigate('newaccount');
        }

        _edit(data) {
            Cells.Router.navigate('editaccount', data.detail);
        }

        _click(data) {
            Cells.Router.navigate('movements', data.detail);
        }

        _logout() {
            this.accounts = undefined;
            this.noaccounts = undefined;
            this.balances = undefined;
            this.data = undefined;
            this.noaccounts = true;
        }
    }
    customElements.define(AccountsPage.is, AccountsPage);
    </script>
</dom-module>
