<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/modal-message.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/common/form-controls.html">
<link rel="import" href="../components/common/form-buttons.html">
<link rel="import" href="../components/common/generic-dm.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="editaccount-page">
    <template>
        <style include="shared-styles"></style>
        <style>
        .form-input {
            width: 500px;
        }
        .form-buttons {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
        #form {
            min-height: 80px;
        }
        </style>

        <custom-page>
            <page-header title="Editar cuenta {{item.name}}"></page-header>

            <form-controls form-help="Introduce el nombre que deseas dar a la cuenta, así como el número IBAN correspondiente">
                <div id="form" class="ss-flex-row ss-margin-top ss-margin-bottom">
                    <cells-molecule-input class="form-input ss-margin-right" autofocus required="true" id="name" label="Nombre de la cuenta" type="text" auto-validate error-message="Debes introducir un nombre para la cuenta"></cells-molecule-input>
                    <cells-molecule-input class="form-input ss-margin-left" required="true" id="number" label="IBAN" type="text" allowed-value=".{24}" max-length="24" auto-validate error-message="El IBAN debe tener 24 caracteres"></cells-molecule-input>
                </div>
            </form-controls>

            <div class="form-buttons">
                <cells-st-button class="size-xs link">
                    <button on-click="_cancel">Cancelar</button>
                </cells-st-button>
                <cells-st-button class="size-xs">
                    <button on-click="_save">Aceptar</button>
                </cells-st-button>
            </div>
        </custom-page>

        <modal-message id="duplicateAccount" type="error" text="Ya existe una cuenta con ese nombre o número"></modal-message>

        <generic-dm id="accounts" endpoint="/accounts"
            on-loading="_loading"
            on-get-success="_accountLoaded"
            on-get-error="_accountError"
            on-edit-success="_accountEdited"
            on-edit-error="_accountEditionError"
        ></generic-dm>
    </template>

    <script>
    class EditAccountPage extends Polymer.Element {
        static get is() {
            return 'editaccount-page';
        }
        static get properties() {
            return {
                params: {
                    type: Object,
                    value: {},
                    observer: "_accountChanged"
                }
            };
        }

        _accountChanged() {
            this.$.accounts.get(this.params.accountid);
        }

        _cancel() {
            Cells.Router.navigate('accounts');
            this._reset();
        }

        _reset() {
            this.item = undefined;
            this.$.name.value = "";
            this.$.name.invalid = false;
            this.$.number.value = "";
            this.$.number.invalid = false;
        }

        _save() {
            if (this.$.name.validate() && this.$.number.validate()) {
                this.$.accounts.edit(this.item._id, {id: this.item._id, name: this.$.name.value, number: this.$.number.value, user: this.item.user});
            }
        }

        _loading() {
            Cells.Bus.channel('spinner').publish("start");
        }

        _accountLoaded(data) {
            Cells.Bus.channel('spinner').publish("stop");
            this.item = data.detail;
            this.$.name.value = this.item.name;
            this.$.number.value = this.item.number;
        }

        _accountError() {
            Cells.Bus.channel('spinner').publish("stop");
        }

        _accountEdited(data) {
            Cells.Bus.channel('spinner').publish("stop");
            Cells.Bus.channel('accounts').publish();
            Cells.Router.navigate('accounts');
            this._reset();
        }

        accountEditionError(data) {
            Cells.Bus.channel('spinner').publish("stop");
            if (data.detail.detail.request.status == 409) {
                this.$.duplicateAccount.show();
            }
        }
    }
    customElements.define(EditAccountPage.is, EditAccountPage);
    </script>
</dom-module>
