<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/common/generic-dm.html">
<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/common/load-spinner.html">
<link rel="import" href="../../bower_components/cells-select/cells-select.html">
<link rel="import" href="../components/common/widget-title.html">
<link rel="import" href="../components/reports/accounts-history.html">
<link rel="import" href="../components/reports/incomes-expenses-chart.html">
<link rel="import" href="../components/movements/movements-list.html">
<link rel="import" href="../components/movements/movements-header.html">

<dom-module id="forecasts-page">
    <template>
        <style include="shared-styles"></style>
        <style>
        #controls {
            height: 80px;
        }
        cells-select {
            width: 500px;
            position: absolute;
            z-index: 999;
        }
        load-spinner {
            margin-top: 50px;
        }
        #accountHistory {
            height: 300px;
        }
        #incomesExpensesChart {
            height: 300px;
        }
        </style>
        <custom-page>
            <template is="dom-if" if="{{noAccounts}}">
                <page-header title="Sin cuentas" button-text="Nueva cuenta"
                on-button-pressed="_createAccount"
                ></page-header>
                <span>Aún no tienes ninguna cuenta. Puedes crear una en el botón que aparece en la parte superior derecha.</span>
            </template>
            <div id="pageContent">
                <page-header title="Previsión"></page-header>
                <div id="controls" class="ss-flex-row ss-margin-bottom">
                    <div class="ss-flex-grow-05 ss-margin-right">
                        <cells-select id="accountsSelector" right-icon="coronita:unfold" on-select-item-selected="_accountSelected"></cells-select>
                    </div>
                    <div class="ss-flex-grow-05">
                        <cells-select id="rangeSelector" right-icon="coronita:unfold" on-select-item-selected="_rangeSelected"></cells-select>
                    </div>
                </div>
                <div id="container" class="ss-flex-column">
                    <load-spinner id="load"></load-spinner>
                    <div id="body">
                        <widget-title id="accountsTitle"></widget-title>
                        <accounts-history id="accountHistory"></accounts-history>
                        <div id="incomesExpensesContainer">
                            <widget-title id="incomesExpensesTitle"></widget-title>
                            <incomes-expenses-chart id="incomesExpensesChart" class="ss-margin-bottom"></incomes-expenses-chart>
                        </div>
                        <div id="movementsContainer">
                            <widget-title id="movementsTitle" class="ss-margin-top"></widget-title>
                            <movements-header></movements-header>
                            <movements-list id="movements" clickable="false"></movements-list>
                        </div>
                    </div>
                </div>
            </div>

            <generic-dm id="accounts" endpoint="/accounts"
            on-list-success="_listLoaded"
            ></generic-dm>
            <generic-dm id="forecasts" endpoint="/forecasts/{{startdate}}/{{enddate}}/{{account.id}}"
            on-get-success="_forecastLoaded"
            ></generic-dm>
            <generic-dm id="balances" endpoint="/balances"
            on-get-success="_balanceLoaded"
            ></generic-dm>
        </custom-page>
    </template>

    <script>
    class ForecastsPage extends Polymer.Element {
        static get is() {
            return 'forecasts-page';
        }
        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            moment.locale('es');
            Cells.Bus.channel('page').subscribe(this._page.bind(this));
            Cells.Bus.channel('accounts').subscribe(this.reload.bind(this));
            this.loadRanges();
            this.loadAccounts();
        }

        _createAccount() {
            Cells.Router.navigate('newaccount');
        }

        _page(page) {
            if (page.name === ForecastsPage.is) {
                this.reload();
            }
        }

        reload() {
            this.loadAccounts();
            this._generate();
        }

        loadAccounts() {
            this.noAccounts = false;
            this.$.accounts.list();
        }

        loadRanges() {
            this.$.rangeSelector.options = [
                {id: 1, title: "Próximo mes", desc: "el próximo mes"},
                {id: 3, title: "Próximos 3 meses", desc: "los próximos tres meses"},
                {id: 6, title: "Próximos 6 meses", desc: "los próximos seis meses"},
                {id: 12, title: "Próximos 12 meses", desc: "los próximos doce meses"}
            ]
            this.$.rangeSelector.resetSelection();
        }

        _listLoaded(data) {
            var accounts = [];
            data.detail.forEach(function(acc) {
                accounts.push({id: acc._id, title: acc.name});
            });
            this.$.accountsSelector.options = accounts;
            this.$.accountsSelector.resetSelection();
            this.noAccounts = accounts.length == 0;

            if (this.noAccounts) {
                this.$.pageContent.style.display = 'none';
            } else {
                this.$.pageContent.style.display = 'block';
            }
        }

        _accountSelected(data) {
            this.account = data.detail;
            this._generate();
        }

        _rangeSelected(data) {
            this.months = data.detail;
            var months = this.months.id;
            this.startdate = moment.utc().startOf('day').add(1, 'days').format("YYYY-MM-DD");
            this.enddate = moment(this.startdate).add(months, 'months').format("YYYY-MM-DD");
            this._generate();
        }

        _generate() {
            if (this.account && this.startdate && this.enddate) {
                this.$.body.style.display = 'none';
                this.$.load.show();
                this.$.accountsTitle.title = "Previsión de la cuenta " + this.account.title + " durante " + this.months.desc;
                this.$.incomesExpensesTitle.title = "Ingresos y gastos previstos en la cuenta " + this.account.title + " durante " + this.months.desc;
                this.$.movementsTitle.title = "Movimientos previstos en la cuenta " + this.account.title + " durante " + this.months.desc;
                this.$.forecasts.get();
            }
        }

        _forecastLoaded(data) {
            console.info(ForecastsPage.is, data.detail);
            this.movements = data.detail.movements;
            this.$.balances.get(this.account.id, "date=" + moment.utc().format("YYYY-MM-DD"));
        }

        _balanceLoaded(data) {
            console.info(ForecastsPage.is, data.detail);
            var balance = data.detail.balance;
            var accountHistory = [
                {accounts: [{name: this.account.title, balance: balance}], date: moment.utc().format("YYYY-MM-DD")}
            ];
            var dates = {};
            var months = {};
            _.each(this.movements, function(mov) {
                mov.category = "Movimiento previsto";
                mov.balance = balance + mov.amount;
                dates[moment(mov.date).format("YYYY-MM-DD")] = mov.balance;
                balance = mov.balance;

                var month = moment(mov.date).format("YYYY-MM");
                if (!months[month]) {
                    months[month] = {incomes: 0, expenses: 0};
                }
                if (mov.amount < 0) {
                    months[month].expenses = months[month].expenses + (mov.amount * -1);
                } else {
                    months[month].incomes = months[month].incomes + mov.amount;
                }
            });
            var datesSorted = _.sortBy(Object.keys(dates), function(date) { return moment(date).unix(); });
            var self = this;
            _.each(datesSorted, function(date) {
                accountHistory.push(
                    {accounts: [{name: self.account.title, balance: dates[date]}], date: date}
                );
            });
            if (accountHistory.length == 1) {
                accountHistory.push(
                    {accounts: [{name: self.account.title, balance: balance}], date: this.enddate}
                );
            }
            var incomesExpenses = [];
            var monthsSorted = _.sortBy(Object.keys(months), function(month) { return moment(month+"-01").unix(); });
            _.each(monthsSorted, function(month) {
                incomesExpenses.push([moment(month+"-01").format("MMM"), months[month].incomes, months[month].expenses]);
            });


            this.$.load.hide();
            this.$.body.style.display = 'block';

            this.$.accountHistory.data = accountHistory;
            if (this.movements.length > 0) {
                this.$.movements.movements = this.movements;
                this.$.movementsContainer.style.display = 'block';
            } else {
                this.$.movementsContainer.style.display = 'none';
            }
            if (incomesExpenses.length > 0) {
                this.$.incomesExpensesChart.data = incomesExpenses;
                this.$.incomesExpensesContainer.style.display = 'block';
            } else {
                this.$.incomesExpensesContainer.style.display = 'none';
            }
        }
    }
    customElements.define(ForecastsPage.is, ForecastsPage);
    </script>
</dom-module>
