<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/home/home-incomes-expenses.html">
<link rel="import" href="../components/home/home-categories.html">
<link rel="import" href="../components/home/home-accounts.html">
<link rel="import" href="../shared-styles.html">

<dom-module id="home-page">
    <template>
        <style include="shared-styles"></style>
        <style>
        </style>
        <custom-page>
            <template is="dom-if" if="{{noData}}">
                <page-header title="Sin cuentas" button-text="Nueva cuenta"
                    on-button-pressed="_create"
                ></page-header>
                <span>Aún no tienes ninguna cuenta. Puedes crear una en el botón que aparece en la parte superior derecha.</span>
            </template>
            <home-accounts id="accounts" on-no-data="_noDataAvailable"></home-accounts>
            <home-incomes-expenses id="incomes"></home-incomes-expenses>
            <home-categories id="categories"></home-categories>
        </custom-page>
    </template>

    <script>
    class HomePage extends Polymer.Element {
        static get is() {
            return 'home-page';
        }
        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            moment.locale('es');
            Cells.Bus.channel('page').subscribe(this._page.bind(this));
            Cells.Bus.channel('logout').subscribe(this._logout.bind(this));
            Cells.Bus.channel('accounts').subscribe(this._accountsChanged.bind(this));
            Cells.Bus.channel('login').subscribe(this._login.bind(this));
        }

        _noDataAvailable() {
            this.noData = true;
        }

        _create() {
            Cells.Router.navigate('newaccount');
        }

        _page(page) {
            if (page.name === HomePage.is) {
                this.$.accounts.visible();
                this.$.incomes.visible();
                this.$.categories.visible();
            }
        }

        _login() {
            this.noData = false;
            this.$.accounts.load();
            this.$.incomes.load();
            this.$.categories.load();
        }

        _accountsChanged() {
            this.$.accounts.load();
            this.$.incomes.load();
            this.$.categories.load();
        }

        _logout() {
            this.$.accounts.reset();
            this.$.incomes.reset();
            this.$.categories.reset();
        }
    }
    customElements.define(HomePage.is, HomePage);
    </script>
</dom-module>
