<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/modal-message.html">
<link rel="import" href="../components/common/session-storage.html">

<dom-module id="login-page">
    <template is="dom-bind">
        <style>
        :host {
            --cells-credentials-form-forgotten-pwd: {
                display: none;
            }
        }
        cells-credentials-form {
            width: 50%;
            max-width: 400px;
            margin: 0 auto;
            margin-top: 100px;
        }
        cells-icon-message {
            width: 320px;
            margin: 0 auto;
        }
        </style>

        <custom-page>
            <cells-credentials-form
            autofocus register id="login" clear-id-icon="coronita:close"
            clear-pwd-icon="coronita:close" toggle-pwd-icon="coronita:visualize"
            toggle-pwd-icon-toggled="coronita:hide"
            label-login="Aceptar"
            label-new-user="Si todavía no tienes usuario puedes"
            label-register="crear uno"
            label-user-id="Usuario"
            label-password="Contraseña"
            ></cells-credentials-form>

            <iron-meta id="meta"></iron-meta>
            <iron-ajax id="loginAjax"
                handle-as="json"
                method="POST"
                content-type="application/json"
                on-response="handleResponse"
                on-error="handleError"
                debounce-duration="200"></iron-ajax>

            <session-storage id="storage"></session-storage>
        </custom-page>

        <modal-message id="modalError" type="error" text="Usuario o contraseña incorrectos"></modal-message>
    </template>

        <script>

        class LoginPage extends Polymer.Element {
            static get is() {
                return 'login-page';
            }

            // Declare properties for the element's public API
            static get properties() {
                return {
                };
            }

            ready() {
                super.ready();
                var login = this.$.login;
                var ajax = this.$.loginAjax;
                var meta = this.$.meta;
                var self = this;
                login.addEventListener('login', function(data) {
                    self.error = false;
                    ajax.url = ajax.url = "http://" + document.location.hostname + ":3000" + '/signin';
                    ajax.body = {id: data.detail.userId, password: data.detail.password};
                    ajax.generateRequest();
                });
                login.addEventListener('request-register', function() {
                    self.$.login.reset();
                    Cells.Router.navigate('signup');
                });
            }

            handleResponse(data) {
                if (data.detail.status == 200) {
                    var token = data.detail.response.token;
                    if (token) {
                        this.$.storage.login({
                            token: token,
                            userId: this.$.login.userId
                        });
                        Cells.Bus.channel('login').publish();
                        this.$.login.reset();
                        Cells.Router.navigate('home');
                    }
                }
            }

            handleError(data) {
                if (data.detail.request.status == 401) {
                    this.$.modalError.show();
                }
            }

        }

        customElements.define(LoginPage.is, LoginPage);

        </script>
    </dom-module>
