<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/common/generic-dm.html">

<link rel="import" href="../components/movements/movements-list.html">
<link rel="import" href="../components/movements/movements-header.html">

<link rel="import" href="../shared-styles.html">
<link rel="import" href="../components/common/load-spinner.html">

<dom-module id="movements-page">
    <template>
        <style include="shared-styles"></style>
        <style>
        #container {
            height: 100%;
        }
        movements-list {
            flex-grow: 1;
            overflow-y: auto;
        }
        load-spinner {
            height: 100%;
        }
        </style>
        <custom-page>
            <load-spinner id="load"></load-spinner>
            <div id="container" class="ss-flex-column">
                <page-header title="Movimientos de la cuenta {{account.name}}" button-text="Nuevo movimiento"
                on-button-pressed="_create"
                ></page-header>

                <template is="dom-if" if="{{nomovements}}">
                    <span>Aún no hay movimientos en esta cuenta. Puedes crear uno en el botón que aparece en la parte superior derecha.</span>
                </template>
                <template is="dom-if" if="{{!nomovements}}">
                    <movements-header></movements-header>
                    <movements-list movements="{{data}}" on-movement-selected="_selected"
                        on-end-scrolling="_loadNextPage"
                    ></movements-list>
                </template>
            </div>
            <generic-dm id="accounts" endpoint="/accounts"
            on-get-success="_accountLoaded"
            ></generic-dm>

            <generic-dm id="movements" endpoint="/accounts/{{params.accountid}}/movements" limit="{{limit}}"
            on-list-success="_movementsLoaded"
            ></generic-dm>
            <generic-dm id="balances" endpoint="/balances/{{params.accountid}}/movements" limit="{{limit}}"
            on-list-success="_balancesLoaded"
            ></generic-dm>
        </custom-page>
    </template>

    <script>
    class MovementsPage extends Polymer.Element {
        static get is() {
            return 'movements-page';
        }

        static get properties() {
            return {
                params: {
                    type: Object,
                    value: {},
                    observer: "_accountChanged"
                }
            };
        }

        ready() {
            super.ready();
            Cells.Bus.channel('accounts').subscribe(this.load.bind(this));
        }

        _accountChanged() {
            if (this.params.accountid !== this.previousAccount) {
                this.load();
            }
        }

        _selected(data) {
            Cells.Router.navigate('movement', data.detail);
        }

        load() {
            this.$.container.style.display = 'none';
            this.$.load.show();
            this.page = 1;
            this.limit = 20;
            this.movements = [];
            this.balances = [];
            this.loadMore = true;
            this.data = undefined;

            this.previousAccount = this.params.accountid;
            this.$.accounts.get(this.params.accountid);
            this.$.movements.list(this.page);
            this.$.balances.list(this.page);
        }

        _loadNextPage() {
            if (this.loadMore) {
                this.page = this.page + 1;
                this.$.movements.list(this.page);
                this.$.balances.list(this.page);
            }
        }

        _create() {
            Cells.Router.navigate('newmovement', {accountid: this.account._id});
        }

        _accountLoaded(data) {
            this.account = data.detail;
        }

        _movementsLoaded(data) {
            var returned = data.detail;
            if (returned.length < this.limit) {
                this.loadMore = false;
            }
            this.movements = this.movements.concat(returned);
            this.nomovements = this.movements.length == 0;
            console.info(MovementsPage.is, this.movements);
            this._mergeData();
        }

        _balancesLoaded(data) {
            console.info(MovementsPage.is, data.detail);
            this.balances = this.balances.concat(data.detail);
            this._mergeData();
        }

        _mergeData() {
            if (this.movements.length === this.balances.length) {
                var self = this;
                var movsPending = _.filter(this.movements, function(mov) { return mov.balance === undefined; });
                _.each(movsPending, function(mov) {
                    var bal = _.find(self.balances, function(bal) {
                        return bal.movement === mov._id;
                    });
                    mov.balance = bal.balance;
                });
                this.data = this.movements;
                this.$.load.hide();
                this.$.container.style.display = 'flex';
            }
        }
    }
    customElements.define(MovementsPage.is, MovementsPage);
    </script>
</dom-module>
