<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/movements/movement-form.html">

<dom-module id="movement-page">
    <template>
        <custom-page>
            <page-header title="Detalle del movimiento"></page-header>
            <movement-form accountid="{{params.accountid}}" movementid="{{params.movementid}}"
                on-cancel="_cancel"
                on-success="_success"
            ></movement-form>
        </custom-page>
    </template>

    <script>
    class MovementPage extends Polymer.Element {
        static get is() {
            return 'movement-page';
        }
        
        static get properties() {
            return {
                params: {
                    type: Object,
                    value: {}
                }
            };
        }

        _cancel() {
            Cells.Router.navigate('movements', {accountid: this.params.accountid});
        }

        _success(data) {
            Cells.Bus.channel('accounts').publish();
            Cells.Router.navigate('movements', {accountid: this.params.accountid});
        }
    }
    customElements.define(MovementPage.is, MovementPage);
    </script>
</dom-module>
