<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/movements/movement-form.html">

<dom-module id="newmovement-page">
    <template>
        <custom-page>
            <page-header title="Nuevo movimiento"></page-header>
            <movement-form id="form" accountid="{{params.accountid}}"
                on-cancel="_cancel"
                on-success="_success"
            ></movement-form>
        </custom-page>
    </template>

    <script>
    class NewMovementPage extends Polymer.Element {
        static get is() {
            return 'newmovement-page';
        }
        static get properties() {
            return {
                params: {
                    type: Object,
                    value: {}
                }
            };
        }

        ready() {
            super.ready();
            Cells.Bus.channel('page').subscribe(this._page.bind(this));
        }

        _page(page) {
            if (page.name === NewMovementPage.is) {
                this.$.form.refresh();
            }
        }

        _cancel() {
            Cells.Router.navigate('movements', {accountid: this.params.accountid});
        }

        _success(data) {
            Cells.Bus.channel('accounts').publish();
            Cells.Router.navigate('movements', {accountid: this.params.accountid});
        }
    }
    customElements.define(NewMovementPage.is, NewMovementPage);
    </script>
</dom-module>
