<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/cells-molecule-date-input/cells-molecule-date-input.html">
<link rel="import" href="../../bower_components/cells-select/cells-select.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/page-header.html">
<link rel="import" href="../components/common/generic-dm.html">
<link rel="import" href="../components/common/load-spinner.html">
<link rel="import" href="../components/reports/accounts-incomes-expenses.html">
<link rel="import" href="../components/reports/incomes-expenses-chart.html">
<link rel="import" href="../components/reports/accounts-history.html">
<link rel="import" href="../components/reports/expenses-categories.html">
<link rel="import" href="../components/common/widget-title.html">
<link rel="import" href="../components/common/modal-message.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="reports-page">
    <template>
        <style include="shared-styles"></style>
        <style>
        cells-select {
            position: absolute;
            z-index: 999;
        }
        cells-molecule-date-input {
            height: 3.75rem;
        }
        load-spinner {
            margin-top: 50px;
        }
        </style>
        <custom-page>
            <template is="dom-if" if="{{noAccounts}}">
                <page-header title="Sin cuentas" button-text="Nueva cuenta"
                    on-button-pressed="_createAccount"
                ></page-header>
                <span>Aún no tienes ninguna cuenta. Puedes crear una en el botón que aparece en la parte superior derecha.</span>
            </template>
            <div id="pageContent">
                <page-header title="Informes"></page-header>
                <div class="ss-flex-row ss-margin-bottom">
                    <cells-molecule-input class="ss-flex-grow-1" id="search" label="Introduce la descripción o categorías a buscar" type="text"></cells-molecule-input>
                </div>
                <div class="ss-flex-row ss-margin-bottom" style="overflow: visible;">
                    <div class="ss-flex-row ss-flex-align-center ss-margin-right" style="width: 500px;">
                        <label class="ss-margin-right" for="from">Desde</label><cells-molecule-date-input allow-past-date required="true" id="from"></cells-molecule-date-input>
                        <label class="ss-margin-left ss-margin-right" for="to">Hasta</label><cells-molecule-date-input allow-past-date required="true" id="to"></cells-molecule-date-input>
                    </div>
                    <div class="ss-flex-row ss-flex-grow-1 ss-margin-left">
                        <cells-select style="width: 484px;" id="accountsSelector" placeholder="Selecciona una cuenta" right-icon="coronita:unfold" on-select-item-selected="_accountSelected"></cells-select>
                    </div>
                </div>
                <div class="ss-flex-row ss-flex-justify-end ss-margin-bottom">
                    <cells-st-button class="size-xs">
                        <button on-click="_generate">Aceptar</button>
                    </cells-st-button>
                </div>

                <div id="content" class="ss-margin-top">
                    <load-spinner id="load"></load-spinner>
                    <div id="body" class="ss-flex-column">
                        <template is="dom-if" if="{{noData}}">
                            <span>No se han encontrado datos para el informe actual</span>
                        </template>
                        <div id="accountsHistoryContainer">
                            <widget-title id="accountsHistoryTitle"></widget-title>
                            <div class="ss-flex-row ss-margin-bottom">
                                <accounts-history class="ss-flex-grow-1" id="accountsHistory"></accounts-history>
                            </div>
                        </div>
                        <div id="incomesExpensesContainer">
                            <widget-title id="incomesExpensesTitle"></widget-title>
                            <div class="ss-flex-row ss-margin-bottom">
                                <accounts-incomes-expenses id="accountsIncomesExpenses"></accounts-incomes-expenses>
                                <incomes-expenses-chart id="incomesExpensesChart" class="ss-flex-grow-1"></incomes-expenses-chart>
                            </div>
                        </div>
                        <div id="expensesCategoriesContainer">
                            <widget-title id="expensesCategoriesTitle"></widget-title>
                            <div class="ss-flex-row ss-margin-bottom">
                                <expenses-categories class="ss-flex-grow-1" id="expensesCategories"></expenses-categories>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </custom-page>
        <modal-message id="modalError" type="error" text="Las fechas no son correctas"></modal-message>
        <generic-dm id="accounts" endpoint="/accounts"
        on-list-success="_listLoaded"
        ></generic-dm>

        <generic-dm id="globalReport" endpoint="/reports/{{startdate}}/{{enddate}}/{{accountid}}"
        on-get-success="_globalReportLoaded"
        ></generic-dm>
        <generic-dm id="monthReport" endpoint="/reports/{{startmonth}}/{{endmonth}}/{{accountid}}"
        on-get-success="_monthlyReportLoaded"
        ></generic-dm>
        <generic-dm id="balances" endpoint="/balances"
        on-get-success="_balanceLoaded"
        ></generic-dm>
    </template>

    <script>
    class ReportsPage extends Polymer.Element {
        static get is() {
            return 'reports-page';
        }
        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            moment.locale('es');
            Cells.Bus.channel('page').subscribe(this._page.bind(this));
            Cells.Bus.channel('accounts').subscribe(this.reload.bind(this));
            this.$.from.date = moment.utc().date(1).valueOf();
            this.$.to.date = moment.utc().add(1, 'months').date(1).subtract(1,'days').valueOf();
            this.loadAccounts();
            this.$.body.style.display = 'none';
        }

        _createAccount() {
            Cells.Router.navigate('newaccount');
        }

        _page(page) {
            if (page.name === ReportsPage.is) {
                this.$.accountsHistory.show();
                this.$.incomesExpensesChart.show();
                this.$.expensesCategories.show();
            }
        }

        reload() {
            this.loadAccounts();
            if (this.generated) {
                this._generate();
            }
        }

        loadAccounts() {
            this.noAccounts = false;
            this.$.accounts.list();
        }

        _listLoaded(data) {
            var accounts = [];
            accounts.push({id: undefined, title: "Todas las cuentas"});
            data.detail.forEach(function(acc) {
                accounts.push({id: acc._id, title: acc.name});
            });
            this.$.accountsSelector.options = accounts;
            this.$.accountsSelector.resetSelection();
            this.noAccounts = accounts.length == 1;

            if (this.noAccounts) {
                this.$.pageContent.style.display = 'none';
            } else {
                this.$.pageContent.style.display = 'block';
            }
        }

        _accountSelected(data) {
            this.accountid = data.detail.id;
        }

        _generate() {
            this.initialDate = moment.utc(this.$.from.showDate).startOf('day');
            this.finalDate = moment.utc(this.$.to.showDate).startOf('day');
            this.text =  this.$.search.value;
            if (this.initialDate.isAfter(this.finalDate)) {
                this.$.modalError.show();
            } else {
                this.generated = true;
                this.$.body.style.display = 'none';
                this.$.load.show();
                this.formattedStartDate = this.initialDate.format("DD/MM/YYYY");
                this.formattedEndDate = this.finalDate.format("DD/MM/YYYY");
                this.startdate = this.initialDate.format("YYYY-MM-DD");
                this.enddate = this.finalDate.format("YYYY-MM-DD");

                // Get account report for given period
                if (this.text) {
                    this.$.globalReport.get(undefined, "text=" + this.text);
                } else {
                    this.$.globalReport.get();
                }
            }
        }

        _fetchNextMonth() {
            var month = this._month(moment.utc(this.finalDate), this.monthsBefore);
            this.startmonth = month[0];
            this.endmonth = month[1];
            this.date = month[2];
            if (this.text) {
                this.$.monthReport.get(undefined, "text=" + this.text);
            } else {
                this.$.monthReport.get();
            }
        }

        _month(now, monthsBefore) {
            var result = [];
            var date = moment(now).date(1).subtract(monthsBefore, 'months');
            result.push(date.format("YYYY-MM-DD"));
            date.add(1,'months').subtract(1, 'days');
            result.push(date.format("YYYY-MM-DD"));
            result.push(moment(now).date(1).subtract(monthsBefore, 'months'));
            return result;
        }

        _globalReportLoaded(data) {
            console.info(ReportsPage.is, data.detail);
            if (this.accountid) {
                this.$.accountsIncomesExpenses.report = {accounts: [data.detail], total: {incomes: data.detail.incomes.total, expenses: data.detail.expenses.total}};
            } else {
                this.$.accountsIncomesExpenses.report = data.detail;
            }

            // Get monthly report
            this.monthsBefore = 0;
            this.monthData = [];
            this._fetchNextMonth();
        }

        _monthlyReportLoaded(data) {
            console.info(ReportsPage.is, data.detail);
            var d = data.detail;

            if (this.accountid) {
                // Report for an account
                this.monthData.unshift([moment(d.startDate).format("MMM"), d.incomes.total, d.expenses.total]);
            } else {
                // Global report
                this.monthData.unshift([moment(d.startDate).format("MMM"), d.total.incomes, d.total.expenses]);
            }
            if (this.date.isAfter(this.initialDate)) {
                // Continue loading
                this.monthsBefore = this.monthsBefore + 1;
                this._fetchNextMonth();
            } else {
                if (this.text) {
                    this._showData();
                } else {
                    this._fetchBalances();
                }
            }
        }

        _fetchBalances() {
            this.balancesDates = [];
            this.balancesData = [];
            var d = moment(this.initialDate);
            while (d.isBefore(this.finalDate)) {
                this.balancesDates.push(d.format('YYYY-MM-DD'));
                d = moment(d).add(1, 'months');
            }
            this.balancesDates.push(this.finalDate.format('YYYY-MM-DD'));
            this.$.balances.get(undefined, "date=" + this.balancesDates.shift());
        }

        _balanceLoaded(data) {
            console.info(ReportsPage.is, data.detail);
            if (this.accountid) {
                // Only show selected account
                var d = data.detail;
                var self = this;
                d.accounts = _.filter(d.accounts, function(acc) { return acc.account == self.accountid; });
                this.balancesData.push(d);
            } else {
                this.balancesData.push(data.detail);
            }
            if (this.balancesDates.length > 0) {
                this.$.balances.get(undefined, "date=" + this.balancesDates.shift());
            } else {
                this._showData();
            }
        }

        _showData() {
            this.$.load.hide();
            this.$.body.style.display = 'flex';

            // Show all charts
            var expensesData = undefined;
            if (this.accountid) {
                // Report for an account
                expensesData = this.$.accountsIncomesExpenses.report.accounts[0].expenses.categories;
            } else {
                // Global report
                expensesData = this.$.accountsIncomesExpenses.report.categories.expenses;
            }
            if (Object.keys(expensesData).length > 0) {
                this.$.expensesCategories.data = expensesData;
                this.$.expensesCategoriesContainer.style.display = 'block';
            } else {
                this.$.expensesCategoriesContainer.style.display = 'none';
            }

            // Check if all incomes and expenses data is 0 to hide block
            var hideIncomesExpenses = true;
            _.each(this.monthData, function(data) {
                if (data[1] != 0 || data[2] != 0) {
                    hideIncomesExpenses = false;
                }
            });
            if (hideIncomesExpenses) {
                this.$.incomesExpensesContainer.style.display = 'none';
            } else {
                this.$.incomesExpensesContainer.style.display = 'block';
                this.$.incomesExpensesChart.data = this.monthData;
            }

            if (!this.text) {
                this.$.accountsHistory.data = this.balancesData;
                this.$.accountsHistoryContainer.style.display = 'block';
            } else {
                this.$.accountsHistoryContainer.style.display = 'none';
            }

            var suffix = "de todas las cuentas entre " + this.formattedStartDate + " y " + this.formattedEndDate;
            if (this.accountid) {
                var account = this.$.accountsIncomesExpenses.report.accounts[0].name;
                suffix = "de la cuenta " + account + " entre " + this.formattedStartDate + " y " + this.formattedEndDate;
            }
            this.$.accountsHistoryTitle.title = "Evolución " + suffix;
            this.$.incomesExpensesTitle.title = "Ingresos y gastos " + suffix;
            this.$.expensesCategoriesTitle.title = "Gastos por categoría " + suffix;

            // Show "No data" if all reports are hidden
            if (this.$.expensesCategoriesContainer.style.display == 'none' &&
            this.$.incomesExpensesContainer.style.display == 'none' &&
            this.$.accountsHistoryContainer.style.display == 'none') {
                this.noData = true;
            } else {
                this.noData = false;
            }
        }

    }
    customElements.define(ReportsPage.is, ReportsPage);
    </script>
</dom-module>
