<link rel="import" href="../../bower_components/polymer/polymer-element.html">

<link rel="import" href="../components/common/page.html">
<link rel="import" href="../components/common/modal-message.html">
<link rel="import" href="../components/common/form-controls.html">
<link rel="import" href="../components/common/form-buttons.html">

<link rel="import" href="../shared-styles.html">

<dom-module id="signup-page">
    <template>
        <style include="shared-styles"></style>
        <style is="custom-style">
        cells-molecule-input {
            width: 500px;
            min-height: 80px;
        }
        </style>

        <custom-page>

        <form-controls form-help="Introduce los datos del nuevo usuario">
            <cells-molecule-input autofocus required="true" id="userid" label="Identificador de usuario" type="text" allowed-value=".{4}" auto-validate error-message="El identificador de usuario debe tener un mínimo de 4 caracteres"></cells-molecule-input>
            <div class="ss-flex-row">
                <cells-molecule-input class="ss-flex-grow-1" required="true" id="firstname" label="Nombre" type="text" auto-validate error-message="El nombre es obligatorio"></cells-molecule-input>
                <cells-molecule-input class="ss-flex-grow-1 ss-margin-left" required="true" id="surnames" label="Apellidos" type="text" auto-validate error-message="Los apellidos son obligatorios"></cells-molecule-input>
            </div>
            <div class="ss-flex-row">
                <cells-molecule-input class="ss-flex-grow-1" required="true" id="password" label="Contraseña" type="password" allowed-value=".{8}" auto-validate error-message="La contraseña debe tener un mínimo de 8 caracteres"></cells-molecule-input>
                <cells-molecule-input class="ss-flex-grow-1 ss-margin-left" required="true" id="password2" label="Repetir contraseña" type="password" allowed-value=".{8}" auto-validate error-message="La contraseña debe tener un mínimo de 8 caracteres"></cells-molecule-input>
            </div>
        </form-controls>

        <form-buttons centered id="buttons"
            on-cancel="cancel"
            on-ok="create">
        </form-buttons>


        </custom-page>
        <modal-message id="wrongPassword" type="error" text="Las contraseñas no coinciden"></modal-message>
        <modal-message id="conflict" type="error" text="Ya existe un usuario con el mismo identificador"></modal-message>
        <modal-message id="success" type="info" text="Se ha creado el usuario correctamente"
            on-modal-closed="closeSuccess"
        ></modal-message>

        <iron-meta id="meta"></iron-meta>
        <iron-ajax id="signupAjax"
            handle-as="json"
            method="POST"
            content-type="application/json"
            on-response="handleResponse"
            on-error="handleError"
            debounce-duration="200"></iron-ajax>
    </template>

        <script>
        class SignupPage extends Polymer.Element {
            static get is() {
                return 'signup-page';
            }

            static get properties() {
                return {
                };
            }

            create() {
                if (this.$.userid.validate() &&
                this.$.firstname.validate() &&
                this.$.surnames.validate() &&
                this.$.password.validate() &&
                this.$.password2.validate()) {
                    if (this.$.password.value == this.$.password2.value) {
                        var user = {
                            id: this.$.userid.value,
                            firstname: this.$.firstname.value,
                            surnames: this.$.surnames.value,
                            password: this.$.password.value
                        }
                        var ajax = this.$.signupAjax;
                        var meta = this.$.meta;
                        ajax.url = ajax.url = "http://" + document.location.hostname + ":3000" + '/signup';
                        ajax.body = user;
                        ajax.generateRequest();
                    } else {
                        this.$.wrongPassword.show();
                    }
                }
            }

            cancel() {
                Cells.Router.navigate('login');
                this.reset();
            }

            reset() {
                this.$.userid.value = "";
                this.$.firstname.value = "";
                this.$.surnames.value = "";
                this.$.password.value = "";
                this.$.password2.value = "";
                this.$.userid.invalid = false;
                this.$.firstname.invalid = false;
                this.$.surnames.invalid = false;
                this.$.password.invalid = false;
                this.$.password2.invalid = false;
            }

            handleResponse(data) {
                if (data.detail.status == 201) {
                    this.$.success.show();
                }
            }

            handleError(data) {
                if (data.detail.request.status == 409) {
                    this.$.conflict.show();
                }
            }

            closeSuccess() {
                this.$.success.open = false;
                Cells.Router.navigate('login');
                this.reset();
            }
        }

        customElements.define(SignupPage.is, SignupPage);
        </script>
    </dom-module>
