<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="session-storage.html">
<link rel="import" href="generic-dm.html">

<dom-module id="app-header">
    <template is="dom-bind">
        <style is="custom-style">
        #app-header {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
        }
        #app-header-main-container {
            display: flex;
            justify-content: center;
            background-color: #072146;
        }
        #app-header-main {
            height: 61px;
            font-size: 14px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            letter-spacing: 1px;
            color: lightgray;
            width: 1024px;
            min-width: 1024px;
        }
        #app-header-sec-container {
            display: flex;
            justify-content: center;
            background-color: #004481;
        }
        #app-header-sec {
            height: 49px;
            width: 1024px;
            min-width: 1024px;
            display: flex;
            align-items: center;
            color: lightgray;
            font-size: 16px;
            font-weight: lighter;
        }
        span:hover {
            color: white;
        }
        .logout {
            color: #2dcccd;
            cursor: pointer;
            margin-left: 40px;
            height: 26px;
            display: flex;
            align-items: center;
        }
        .logo > iron-icon {
            width: 26px;
        }
        .logout:hover {
            color: white;
        }
        .logo {
            flex-grow: 1;
            display: flex;
        }
        .logo > div {
            cursor: pointer;
        }
        img {
            height: 32px;
            display: inline;
        }
        h3 {
            display: inline;
            color: white;
            font-size: 14px;
            font-weight: normal;
        }
        .navigate {
            width: 120px;
            cursor: pointer;
        }
        .selected {
            color: white;
            font-weight: 800;
        }
        </style>

        <div id="app-header">
            <div id="app-header-main-container">
                <div id="app-header-main">
                    <div class="logo">
                        <div on-click="home">
                            <img src="/images/logoBBVA.svg"/>
                            <h3>MYconomy</h3>
                        </div>
                    </div>
                    <template is="dom-if" if="{{logged}}">
                        <div>
                            <span>{{firstname}} {{surnames}}</span>
                        </div>
                        <div class="logout" on-click="_logout">
                            <iron-icon icon="banking:G09"></iron-icon>
                            <span>Salir</span>
                        </div>
                    </template>
                </div>
            </div>
            <div id="app-header-sec-container">
                <div id="app-header-sec">
                    <template is="dom-if" if="{{logged}}">
                        <span id="home-page" class="navigate" on-click="navigate" page-dest="home">Inicio</span>
                        <span id="accounts-page" class="navigate" on-click="navigate" page-dest="accounts">Cuentas</span>
                        <span id="reports-page" class="navigate" on-click="navigate" page-dest="reports">Informes</span>
                        <span id="forecasts-page" class="navigate" on-click="navigate" page-dest="forecasts">Previsión</span>
                    </template>
                </div>
            </div>
        </div>

        <session-storage id="storage"></session-storage>
        <generic-dm id="userinfo" endpoint="/users"
            on-get-success="handleResponse"
            on-get-error="handleError"
        ></generic-dm>
    </template>

    <script>
    class AppHeader extends Polymer.Element {
        static get is() {
            return 'app-header';
        }

        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            if (this.$.storage.isLogged()) {
                // Already logged, simulate user just logged in
                Cells.Bus.channel('login').publish();
            }
            Cells.Bus.channel('login').subscribe(this._login.bind(this));
            Cells.Bus.channel('logout').subscribe(this._logoutReceived.bind(this));
            Cells.Bus.channel('page').subscribe(this._page.bind(this));
        }

        _page(data) {
            console.info(AppHeader.is, "Navigating to: ", JSON.stringify(data));
            var children = this.$['app-header-sec-container'].querySelector('#app-header-sec').children;
            for (var i = 0; i < children.length; i++) {
                var element = children[i];
                if (element.nodeName.toLowerCase() == "span") {
                    var dest = '/' + element.attributes['page-dest'].value;
                    if (data.path.indexOf(dest) == 0) {
                        element.classList.add("selected");
                    } else {
                        element.classList.remove("selected");
                    }
                }
            }
        }

        _login() {
            this.$.userinfo.get(this.$.storage.getValue("userId"));
        }

        _logoutReceived() {
            this.firstname = undefined;
            this.surnames = undefined;
            this.dispatchEvent(new CustomEvent('navigate', {detail: {where: 'login'}}));
            this.logged = false;
        }

        handleResponse(data) {
            var response = data.detail;
            this.firstname = response.firstname;
            this.surnames = response.surnames;
            this.logged = true;
            console.info(AppHeader.is, response);
        }

        handleError(data) {
            if (data.detail.detail.request.status == 404) {
                this.dispatchEvent(new CustomEvent('user-unknown'));
            }
        }

        navigate(e) {
            var where = e.target.getAttribute('page-dest');
            this.dispatchEvent(new CustomEvent('navigate', {detail: {where: where}}));
        }

        home() {
            this.dispatchEvent(new CustomEvent('navigate', {detail: {where: 'home'}}));
        }

        _logout() {
            this.$.storage.logout();
            Cells.Bus.channel('logout').publish();
        }
    }
    customElements.define(AppHeader.is, AppHeader);
    </script>
</dom-module>
