<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="date-label">
    <template>
        <style>
            div {
                display: flex;
                flex-direction: column;
                justify-content: center;
                height: 100%;
            }
            span {
                text-align: center;
                color: #004481;
                font-size: 14px;
            }
        </style>
        <div>
            <span>{{formattedDate}}</span>
        </div>
    </template>

    <script>
    class DateLabel extends Polymer.Element {
        static get is() {
            return 'date-label';
        }

        static get properties() {
            return {
                date: {
                    type: String,
                    observer: "_dateChanged"
                }
            };
        }

        _dateChanged() {
            moment.locale('es');
            this.formattedDate = moment(this.date).format("DD MMM YYYY");
        }
    }

    customElements.define(DateLabel.is, DateLabel);
    </script>
</dom-module>
