<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="form-controls">
    <template>
        <style>
        .centered {
            display: flex;
            justify-content: center;
        }
        .centered > .form {
            width: 400px;
        }
        .form {
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .form-help {
            margin-bottom: 10px;
        }
        .form-input {
            width: 400px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        .form-buttons {
            margin-top: 20px;
            display: flex;
            justify-content: flex-end;
        }
        ::slotted(*) {
            margin-bottom: 15px;
        }
        </style>
        <template is="dom-if" if="{{!centered}}">
            <div class="form">
                <span class="form-help">{{formHelp}}</span>
                <slot></slot>
            <div>
        </template>
        <template is="dom-if" if="{{centered}}">
            <div class="centered">
                <div class="form">
                    <span class="form-help">{{formHelp}}</span>
                    <slot></slot>
                <div>
            </div>
        </template>
    </template>

    <script>
    class FormControls extends Polymer.Element {
        static get is() {
            return 'form-controls';
        }
        static get properties() {
            return {
                formHelp: String,
                centered: {
                    type: Boolean,
                    value: false
                }
            };
        }
    }
    customElements.define(FormControls.is, FormControls);
    </script>
</dom-module>
