<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="form-buttons">
    <template>
        <style>
        .centered {
            display: flex;
            justify-content: center;
        }
        .centered > .form {
            width: 400px;
        }
        .form-buttons {
            margin-top: 20px;
            display: flex;
            justify-content: center;
        }
        </style>
        <template is="dom-if" if="{{!centered}}">
            <div class="form-buttons">
                <cells-st-button class="size-xs link">
                    <button on-click="cancel">{{cancelText}}</button>
                </cells-st-button>
                <cells-st-button class="size-xs">
                    <button on-click="ok">{{okText}}</button>
                </cells-st-button>
            </div>
        </template>
        <template is="dom-if" if="{{centered}}">
            <div class="centered">
                <div class="form-buttons">
                    <cells-st-button class="size-xs link">
                        <button on-click="cancel">{{cancelText}}</button>
                    </cells-st-button>
                    <cells-st-button class="size-xs">
                        <button on-click="ok">{{okText}}</button>
                    </cells-st-button>
                </div>
            </div>
        </template>
    </template>

    <script>
    class FormButtons extends Polymer.Element {
        static get is() {
            return 'form-buttons';
        }
        static get properties() {
            return {
                cancelText: {
                    type: String,
                    value: "Cancelar"
                },
                okText: {
                    type: String,
                    value: "Aceptar"
                },
                centered: {
                    type: Boolean,
                    value: false
                }
            };
        }
        ok() {
            this.dispatchEvent(new CustomEvent('ok'));
        }
        cancel() {
            this.dispatchEvent(new CustomEvent('cancel'));
        }
    }
    customElements.define(FormButtons.is, FormButtons);
    </script>
</dom-module>
