<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../common/session-storage.html">

<dom-module id="generic-dm">
    <template>
        <session-storage id="storage"></session-storage>
        <iron-ajax id="list" handle-as="json" method="GET" content-type="application/json" on-response="_listResponse" on-error="_listError" debounce-duration="200"></iron-ajax>
        <iron-ajax id="get" handle-as="json" method="GET" on-response="_getResponse" on-error="_getError" debounce-duration="200"></iron-ajax>
        <iron-ajax id="create" handle-as="json" method="POST" content-type="application/json" on-response="_createResponse" on-error="_createError" debounce-duration="200"></iron-ajax>
        <iron-ajax id="edit" handle-as="json" method="PUT" content-type="application/json" on-response="_editResponse" on-error="_editError" debounce-duration="200"></iron-ajax>
        <iron-ajax id="delete" method="DELETE" on-response="_deleteResponse" on-error="_deleteError" debounce-duration="200"></iron-ajax>
    </template>

    <script>
    class GenericDM extends Polymer.Element {
        static get is() {
            return 'generic-dm';
        }

        static get properties() {
            return {
                endpoint: String,
                limit: Number
            };
        }

        _prepareAjax(ajax, uri, payload) {
            var meta = this.$.meta;
            var jwt = this.$.storage.getValue("token");
            ajax.headers = {"Authorization": "Bearer " + jwt};
            ajax.url = "http://" + document.location.hostname + ":3000" + uri;
            if (payload) {
                ajax.body = payload;
            }
            return ajax;
        }

        _call(ajax) {
            this.dispatchEvent(new CustomEvent('loading'));
            ajax.generateRequest();
        }

        list(page) {
            var uri = this.endpoint;
            if (this.limit) {
                uri = uri + "?limit=" + this.limit + "&offset=" + (page-1)*this.limit;
            }
            this._call(this._prepareAjax(this.$.list, uri));
        }

        get(id, query) {
            var uri = this.endpoint;
            if (id !== undefined) {
                 uri = uri + '/' + id;
            }
            if (query !== undefined) {
                uri = uri + '?' + query;
            }
            this._call(this._prepareAjax(this.$.get, uri));
        }

        create(obj) {
            this._call(this._prepareAjax(this.$.create, this.endpoint, obj));
        }

        edit(id, obj) {
            this._call(this._prepareAjax(this.$.edit, this.endpoint + '/' + id, obj));
        }

        delete(id) {
            this._call(this._prepareAjax(this.$.delete, this.endpoint + '/' + id));
        }

        _listResponse(data) {
            this.dispatchEvent(new CustomEvent('list-success', {detail: data.detail.response}))
        }

        _listError(data) {
            this.dispatchEvent(new CustomEvent('list-error', {detail: data}))
            console.log(data);
        }

        _getResponse(data) {
            this.dispatchEvent(new CustomEvent('get-success', {detail: data.detail.response}))
        }

        _getError(data) {
            this.dispatchEvent(new CustomEvent('get-error', {detail: data}))
            console.log(data);
        }

        _createResponse(data) {
            this.dispatchEvent(new CustomEvent('create-success', {detail: data.detail.response}))
        }

        _createError(data) {
            this.dispatchEvent(new CustomEvent('create-error', {detail: data}))
            console.log(data);
        }

        _editResponse(data) {
            this.dispatchEvent(new CustomEvent('edit-success', {detail: data.detail.response}))
        }

        _editError(data) {
            this.dispatchEvent(new CustomEvent('edit-error', {detail: data}))
            console.log(data);
        }

        _deleteResponse(data) {
            this.dispatchEvent(new CustomEvent('delete-success', {detail: data.detail.response}))
        }

        _deleteError(data) {
            this.dispatchEvent(new CustomEvent('delete-error', {detail: data}))
            console.log(data);
        }
    }

    customElements.define(GenericDM.is, GenericDM);
    </script>
</dom-module>
