<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">

<dom-module id="load-spinner">
    <template>
        <style>
        :host {
            display: block;
            width: 100%;
        }
        cells-molecule-spinner-veil {
            position: relative;
        }
        </style>
        <cells-molecule-spinner-veil id="spinner"></cells-molecule-spinner-veil>
    </template>

    <script>
    class LoadSpinner extends Polymer.Element {
        static get is() {
            return 'load-spinner';
        }

        static get properties() {
            return {
            };
        }

        show() {
            this.style.display = 'block';
            this.$.spinner.show();
        }

        hide() {
            this.$.spinner.hide();
            this.style.display = 'none';
        }
    }
    customElements.define(LoadSpinner.is, LoadSpinner);
    </script>
</dom-module>
