<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="location-map">
    <template>
        <style include="shared-styles"></style>
        <style>
        #map {
            height: 100%;
        }
        .mapContainer {
            width: 100%;
            height: 100%;
        }
        </style>
        <div class="ss-flex-column mapContainer">
            <cells-molecule-input id="mapInput" class="ss-margin-bottom" label="Localización" type="text"></cells-molecule-input>
            <div id="map"></div>
        </div>
    </template>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCib3JULwNqiQJZitxotCjqIfq-Mj2Wt50&libraries=places&language=es"></script>
    <script>
    class LocationMap extends Polymer.Element {
        static get is() {
            return 'location-map';
        }
        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
            this._initMap();
            this.refresh();
        }

        location(loc) {
            if (loc && loc.coordinates && loc.coordinates.length === 2) {
                this.$.mapInput.value = loc.name;
                var coordinates = {lat: loc.coordinates[0], lng: loc.coordinates[1]};
                this.map.setCenter(coordinates);
                this.marker.setPosition(coordinates);
                this.marker.setVisible(true);
            }
        }

        refresh() {
            console.log("Refreshing map");
            google.maps.event.trigger(this.map,'resize'); // Force redraw
        }

        reset() {
            this.$.mapInput.value = "";
            if (this.map === undefined) {
                this.map = new google.maps.Map(this.$.map, {
                    streetViewControl: false,
                    fullscreenControl: false
                });
            }
            this.map.setCenter({lat: 40.415, lng: -3.70})
            this.map.setZoom(13);
            if (this.marker === undefined) {
                this.marker = new google.maps.Marker({
                    map: this.map,
                    anchorPoint: new google.maps.Point(0, -29)
                });
            }
            this.marker.setVisible(false);
        }

        _initMap() {
            var self = this;
            this.reset();
            var input = this.$.mapInput;

            var autocomplete = new google.maps.places.Autocomplete(input);
            autocomplete.bindTo('bounds', this.map);

            autocomplete.addListener('place_changed', function() {
                self.marker.setVisible(false);
                var place = autocomplete.getPlace();
                if (!place.geometry) {
                    // User entered the name of a Place that was not suggested and
                    // pressed the Enter key, or the Place Details request failed.
                    return;
                }

                // If the place has a geometry, then present it on a map.
                if (place.geometry.viewport) {
                    self.map.fitBounds(place.geometry.viewport);
                } else {
                    self.map.setCenter(place.geometry.location);
                    self.map.setZoom(16);
                }
                self.marker.setPosition(place.geometry.location);
                self.marker.setVisible(true);

                var address = '';
                if (place.address_components) {
                    address = [
                        (place.address_components[0] && place.address_components[0].short_name || ''),
                        (place.address_components[1] && place.address_components[1].short_name || ''),
                        (place.address_components[2] && place.address_components[2].short_name || '')
                    ].join(' ');
                }

                self.dispatchEvent(new CustomEvent('location-changed', {
                    detail: {
                        name: place.name,
                        address: address,
                        location: place.geometry.location.toJSON()
                    }
                }));
            });

            //Listen for any clicks on the map.
            google.maps.event.addListener(self.map, 'click', function(event) {
                //Get the location that the user clicked.
                var clickedLocation = event.latLng;
                self.marker.setPosition(clickedLocation);
                self.marker.setVisible(true);
                self._geocodeLatLng(event.latLng.toJSON());
            });
        }

        _geocodeLatLng(latlng) {
            var self = this;
            var geocoder = new google.maps.Geocoder;
            geocoder.geocode({'location': latlng}, function(results, status) {
                if (status === 'OK') {
                    if (results[0]) {
                        self.$.mapInput.value = results[0].formatted_address;
                        self.dispatchEvent(new CustomEvent('location-changed', {
                            detail: {
                                address: results[0].formatted_address,
                                location: latlng
                            }
                        }));
                    }
                }
            });
        }
    }
    customElements.define(LocationMap.is, LocationMap);
    </script>
</dom-module>
