<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="modal-message">
    <template is="dom-bind">
        <style is="custom-style">
        :host {
            --cells-middle-modal-md-modal-max-width: 400px;
            --cells-middle-modal-desktop-md-content-max-width: 400px;
            --cells-middle-modal-md-content-padding: 30px;
        }
        .body {
            margin-bottom: 20px;
        }
        .buttons {
            display: flex;
            justify-content: center;
        }
        </style>

        <cells-middle-modal id="modal" aria-labelledby="modal-aria-label">
            <div class="body">
                <cells-icon-message class="inline" type="{{type}}" icon="coronita:{{type}}" icon-size="20" message="{{text}}">
            </div>
            <div class="buttons">
                <cells-st-button class="size-xs">
                    <button on-click="close">Aceptar</button>
                </cells-st-button>
            </div>
        </cells-middle-modal>
    </template>

    <script>
    class ModalMessage extends Polymer.Element {
        static get is() {
            return 'modal-message';
        }

        static get properties() {
            return {
                type: {
                    type: String,
                    value: "info"
                },
                text: {
                    type: String,
                    value: "Sample text"
                }
            };
        }

        show() {
            this.$.modal.open = true;
        }

        close() {
            this.$.modal.open = false;
            this.dispatchEvent(new CustomEvent('modal-closed'));
        }
    }
    customElements.define(ModalMessage.is, ModalMessage);
    </script>
</dom-module>
