<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="modal-confirmation">
    <template is="dom-bind">
        <style is="custom-style">
        :host {
            --cells-middle-modal-md-modal-max-width: 400px;
            --cells-middle-modal-desktop-md-content-max-width: 400px;
            --cells-middle-modal-md-content-padding: 30px;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 9999;
        }
        .buttons > * {
            margin-left: 10px;
        }
        </style>

        <cells-middle-modal id="modal" aria-labelledby="modal-aria-label">
            <div class="body">
                <cells-icon-message class="inline" type="{{type}}" icon="coronita:{{type}}" icon-size="20" message="{{text}}">
            </div>
            <div class="buttons">
                <cells-st-button class="size-xs link">
                    <button on-click="no">Cancelar</button>
                </cells-st-button>
                <cells-st-button class="size-xs">
                    <button on-click="yes">Aceptar</button>
                </cells-st-button>
            </div>
        </cells-middle-modal>
    </template>

    <script>
    class ModalConfirmation extends Polymer.Element {
        static get is() {
            return 'modal-confirmation';
        }

        static get properties() {
            return {
                type: {
                    type: String,
                    value: "info"
                },
                text: {
                    type: String,
                    value: "Sample text"
                }
            };
        }

        show() {
            this.$.modal.open = true;
        }

        no() {
            this.$.modal.open = false;
            this.dispatchEvent(new CustomEvent('modal-closed-no'));
        }

        yes() {
            this.$.modal.open = false;
            this.dispatchEvent(new CustomEvent('modal-closed-yes'));
        }
    }
    customElements.define(ModalConfirmation.is, ModalConfirmation);
    </script>
</dom-module>
