<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="custom-page">
    <template>
        <style>
        .page-container {
            display: flex;
            justify-content: center;
            position: fixed;
            top: 110px;
            left: 0;
            right: 0;
            bottom: 0;
            overflow-y: scroll;
        }
        .page-content {
            width: 1024px;
            min-width: 1024px;
            color: #898989;
            font-weight: lighter;
        }
        </style>
        <div class="page-container">
            <div class="page-content">
                <slot></slot>
            </div>
        </div>

    </template>

    <script>
    class CustomPage extends Polymer.Element {
        static get is() {
            return 'custom-page';
        }
        static get properties() {
            return {
            };
        }
    }
    customElements.define(CustomPage.is, CustomPage);
    </script>
</dom-module>
