<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="page-header">
    <template>
        <style>
        .pg {
            margin-top: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid #12121230;
            display: flex;
            justify-content: flex-start;
            align-items: center;
        }
        .pg > h1 {
            display: inline-block;
            font-size: 22px;
            font-weight: lighter;
            color: #1212128f;
            margin-top: 5px;
            margin-bottom: 5px;
            flex-grow: 1;
        }
        </style>
        <div class="pg">
            <h1>{{title}}</h1>
            <template is="dom-if" if="{{buttonText}}">
                <cells-st-button class="size-xs">
                    <button on-click="pressed">{{buttonText}}</button>
                </cells-st-button>
            </template>
        </div>
    </template>

    <script>
    class PageHeader extends Polymer.Element {
        static get is() {
            return 'page-header';
        }
        static get properties() {
            return {
                title: String,
                buttonText: String
            };
        }
        pressed() {
            this.dispatchEvent(new CustomEvent('button-pressed'));
        }
    }
    customElements.define(PageHeader.is, PageHeader);
    </script>
</dom-module>
