<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="session-storage">
    <script>
    class SessionStorage extends Polymer.Element {
        static get is() {
            return 'session-storage';
        }

        static get properties() {
            return {
            };
        }

        ready() {
            super.ready();
        }

        login(data) {
            this.setValue("token", data.token);
            this.setValue("isLogged", true);
            this.setValue("userId", data.userId);
        }

        logout() {
            this.removeValue("token");
            this.removeValue("isLogged");
            this.removeValue("userId");
        }

        isLogged() {
            return this.getValue("isLogged");
        }

        setValue(key, value) {
            sessionStorage.setItem(key, value);
        }

        removeValue(key) {
            sessionStorage.removeItem(key);
        }

        getValue(key) {
            var value = sessionStorage.getItem(key);
            return value;
        }
    }
    customElements.define(SessionStorage.is, SessionStorage);
    </script>
</dom-module>
