<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="widget-title">
    <template>
        <style include="shared-styles"></style>
        <div class="ss-margin-bottom ss-border-bottom-dark">
            <span class="ss-section-title">{{title}}</span>
        </div>
    </template>

    <script>
    class WidgetTitle extends Polymer.Element {
        static get is() {
            return 'widget-title';
        }
        static get properties() {
            return {
                title: String
            };
        }
    }
    customElements.define(WidgetTitle.is, WidgetTitle);
    </script>
</dom-module>
