<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../common/generic-dm.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../common/load-spinner.html">
<link rel="import" href="../common/widget-title.html">

<dom-module id="home-categories">
    <template>
        <style include="shared-styles"></style>
        <style>
        :host {
            display: flex;
            flex-direction: row;
            height: 400px;
        }
        .table {
            width: 400px;
        }
        .chart {
            width: 600px;
            height: 350px;
        }
        .category-col {
            width: 200px;
        }
        .amount-col {
            width: 200px;
        }
        .header {
            text-align: right;
        }
        svg > g > g:last-child { pointer-events: none } /* https://github.com/google/google-visualization-issues/issues/2162 */
        </style>
        <load-spinner id="load"></load-spinner>
        <div id="container" style="display: none;" class="ss-margin-top ss-margin-bottom">
            <widget-title title="Gastos este mes"></widget-title>
            <div class="ss-flex-row ss-flex-grow-1">
                <div class="table ss-margin-right">
                    <div class="ss-padding ss-flex-row ss-border-bottom-light">
                        <span class="category-col">Categoría</span>
                        <span class="header amount-col">Gastos</span>
                    </div>
                    <template is="dom-repeat" items="{{sorted}}">
                        <div class="ss-padding ss-border-bottom-light ss-flex-row">
                            <span class="category-col">{{item.category}}</span>
                            <div class="ss-flex-row ss-flex-row-right amount-col">
                                <cells-atom-amount class="amount" amount="{{item.value}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                            </div>
                        <div>
                    </template>
                </div>
                <div id="donutchart" class="chart"></div>
            </div>
        </div>
        <generic-dm id="reports" endpoint="/reports/{{startdate}}/{{enddate}}"
        on-get-success="_loaded"
        ></generic-dm>
    </template>

    <script>
    class HomeCategories extends Polymer.Element {
        static get is() {
            return 'home-categories';
        }

        static get properties() {
            return {
            };
        }

        load() {
            this.$.container.style.display = 'none';
            this.$.load.show();
            google.charts.load('current', {packages: ['corechart'], 'language': 'es'});
            google.charts.setOnLoadCallback(this._loadChart.bind(this));
        }

        reset() {
            this.data = undefined;
        }

        _loadChart() {
            this.data = [];
            var month = this._month(moment(), 0);
            this.startdate = month[0];
            this.enddate = month[1];
            this.$.reports.get();
        }

        _month(now, monthsBefore) {
            var result = [];
            var date = now.date(1).subtract(monthsBefore, 'months');
            result.push(date.format("YYYY-MM-DD"));
            date.add(1,'months').subtract(1, 'days');
            result.push(date.format("YYYY-MM-DD"));
            return result;
        }

        _loaded(data) {
            this.$.load.hide();
            console.info(HomeCategories.is, data.detail);
            if (data.detail.accounts.length > 0) {
                this.categories = data.detail.categories.expenses;
                this.$.container.style.display = 'block';
                this.show();
            }
        }

        show() {
            if (this.categories) {
                this._drawChart();
            }
        }

        visible() {
            this.show();
        }

        _drawChart() {
            var aux = [['Categoría','Gastos']];
            var self = this;
            var sorted = [];
            var chartData = [];
            Object.keys(this.categories).forEach(function(category) {
                var value = self.categories[category];
                if (value < 0) {
                    chartData.push([ category, value * -1]);
                    sorted.push({category: category ? category : "Sin categorizar", value: value * -1});
                }
            })

            chartData = _.sortBy(chartData, function(row) {
                return - row[1];
            });

            aux = aux.concat(chartData);

            this.sorted = _.sortBy(sorted, function(cat) {
                return - cat.value;
            });

            var data = google.visualization.arrayToDataTable(aux);
            var options = {
                chartArea: {left: 100, right: 10, height: '80%'},
                colors: ['#1464A5','#2A86CA','#49A5E6','#5BBEFF','#02A5A5', '#2dcccd','#F7893B','#d9af41','#F8CD51'],
                pieHole: 0.4,
                legend: {position: 'none'},
                animation: {startup: true, duration: 400}
            };

            var chart = new google.visualization.PieChart(this.$.donutchart);
            chart.draw(data, options);
        }
    }
    customElements.define(HomeCategories.is, HomeCategories);
    </script>
</dom-module>
