<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="home-available.html">
<link rel="import" href="home-account-history.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../common/load-spinner.html">
<link rel="import" href="../common/widget-title.html">

<dom-module id="home-accounts">
    <template>
        <style include="shared-styles"></style>
        <style>
        :host {
            display: flex;
            flex-direction: row;
            min-height: 300px;
        }
        home-available {
            width: 400px;
        }
        home-account-history {
            width: 600px;
            height: 200px;
        }
        </style>
        <load-spinner id="load"></load-spinner>
        <div id="container" style="display: none;" class="ss-margin-top ss-margin-bottom">
            <widget-title title="Tus Cuentas"></widget-title>
            <div class="ss-flex-row">
                <home-available id="available" class="ss-margin-right" on-loaded="_availableLoaded" on-no-data="_noDataAvailable"></home-available>
                <home-account-history id="history" on-loaded="_historyLoaded" on-no-data="_noDataAvailable"></home-account-history>
            </div>
        </div>
    </template>

    <script>
    class HomeAccounts extends Polymer.Element {
        static get is() {
            return 'home-accounts';
        }

        static get properties() {
            return {
            };
        }

        load() {
            this.$.container.style.display = 'none';
            this.availableLoaded = false;
            this.historyLoaded = false;
            this.$.load.show();
            this.$.available.load();
            this.$.history.load();
        }

        visible() {
            this.$.history.show();
        }

        _availableLoaded() {
            this.availableLoaded = true;
            this._checkLoad();
        }

        _historyLoaded() {
            this.historyLoaded = true;
            this._checkLoad();
        }

        _noDataAvailable() {
            this.$.load.hide();
            this.dispatchEvent(new CustomEvent("no-data"));
        }

        _checkLoad() {
            if (this.availableLoaded && this.historyLoaded) {
                this.$.load.hide();
                this.$.container.style.display = 'block';
                this.$.history.show();
            }
        }

        reset() {
            this.$.available.reset();
            this.$.history.reset();
        }
    }
    customElements.define(HomeAccounts.is, HomeAccounts);
    </script>
</dom-module>
