<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../common/generic-dm.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="home-available">
    <template>
        <style include="shared-styles"></style>
        <style>
        </style>
        <template is="dom-repeat" items="{{balance.accounts}}">
            <div class="ss-padding ss-border-bottom-light ss-flex-row">
                <span class="ss-flex-grow-1">{{item.name}}</span>
                <cells-atom-amount class="amount" amount="{{item.balance}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
            <div>
        </template>
        <div class="ss-padding ss-flex-row">
            <span class="ss-flex-grow-1 ss-bold">TOTAL</span>
            <cells-atom-amount class="amount-large" amount="{{balance.total}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
        <div>
        <generic-dm id="balance" endpoint="/balances"
            on-get-success="_loaded"
        ></generic-dm>
    </template>

    <script>
    class HomeAvailable extends Polymer.Element {
        static get is() {
            return 'home-available';
        }

        static get properties() {
            return {
            };
        }

        load() {
            this.$.balance.get();
        }

        reset() {
            this.balance = undefined;
        }

        _loaded(data) {
            this.balance = data.detail;
            console.info(HomeAvailable.is, this.balance);
            if (this.balance.accounts.length > 0) {
                this.dispatchEvent(new CustomEvent('loaded'));
            } else {
                this.dispatchEvent(new CustomEvent('no-data'));
            }
        }
    }
    customElements.define(HomeAvailable.is, HomeAvailable);
    </script>
</dom-module>
