<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../common/generic-dm.html">

<dom-module id="home-account-history">
    <template>
        <style>
        .chart {
            height: 100%;
            width: 100%;
        }
        span {
            display: block;
            margin-left: 100px;
            margin-top: 8px;
        }
        svg > g > g:last-child { pointer-events: none } /* https://github.com/google/google-visualization-issues/issues/2162 */
        </style>
        <span>Evolución en el último año</span>
        <div id="chart_div" class="chart"></div>
        <generic-dm id="balance" endpoint="/balances"
        on-get-success="_dateLoaded"
        ></generic-dm>
    </template>

    <script>
    class HomeAccountHistory extends Polymer.Element {
        static get is() {
            return 'home-account-history';
        }

        static get properties() {
            return {
                months: Number
            };
        }

        load() {
            this.months = 12;
            google.charts.load('current', {packages: ['corechart'], 'language': 'es'});
            google.charts.setOnLoadCallback(this._loadChart.bind(this));
        }

        reset() {
            this.dates = undefined;
            this.data = undefined;
        }

        _loadChart() {
            this.dates = [];
            this.data = [];
            for (var i = this.months - 1; i >= 0; i--) {
                var d = moment.utc().subtract(i, 'months');
                this.dates.push(d.format('YYYY-MM-DD'));
            }
            this.$.balance.get(undefined, "date=" + this.dates.shift());
        }

        _dateLoaded(data) {
            this.data.push(data.detail);
            if (data.detail.accounts.length == 0) {
                console.info(HomeAccountHistory.is, this.data);
                this.dispatchEvent(new CustomEvent('no-data'));
            } else {
                if (this.dates.length > 0) {
                    this.$.balance.get(undefined, "date=" + this.dates.shift());
                } else {
                    console.info(HomeAccountHistory.is, this.data);
                    this.dispatchEvent(new CustomEvent('loaded'));
                }
            }
        }

        _drawChart(data) {
            var aux = [];
            var names = ['Fecha'];
            data[0].accounts.forEach(function(acc) {
                names.push(acc.name);
            });
            aux.push(names);

            data.forEach(function(bal) {
                var row = [];
                row.push(moment.utc(bal.date).format("MMM"));
                bal.accounts.forEach(function(acc) {
                    row.push(acc.balance);
                });
                aux.push(row);
            });

            var data = google.visualization.arrayToDataTable(aux);

            var options = {
                isStacked: true,
                vAxis: {minValue: 0, baselineColor: '#F0F0F0', gridlines: {color: '#F0F0F0'}, viewWindowMode: "explicit", viewWindow:{ min: 0 }},
                chartArea: {left: 80, right: 15, height: '80%'},
                legend: {position: 'none'},
                areaOpacity: 0.8,
                colors: ['#2A86CA','#5BBEFF']
            };

            var chart = new google.visualization.AreaChart(this.$.chart_div);
            chart.draw(data, options);
        }

        show() {
            if (this.data && this.data.length > 0) {
                this._drawChart(this.data);
            }
        }
    }
    customElements.define(HomeAccountHistory.is, HomeAccountHistory);
    </script>
</dom-module>
