<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../../shared-styles.html">
<link rel="import" href="../common/generic-dm.html">
<link rel="import" href="../common/load-spinner.html"
<link rel="import" href="../common/widget-title.html">>

<dom-module id="home-incomes-expenses">
    <template>
        <style include="shared-styles"></style>
        <style>
        :host {
            display: flex;
            flex-direction: row;
            min-height: 350px;
        }
        .table {
            width: 400px;
        }
        .chart {
            width: 600px;
            height: 200px;
        }
        .account-col {
            width: 160px;
        }
        .incomes-col {
            width: 120px;
        }
        .expenses-col {
            width: 120px;
        }
        .header {
            text-align: right;
        }
        .chart-title {
            display: block;
            margin-left: 100px;
            margin-top: 8px;
        }
        svg > g > g:last-child { pointer-events: none } /* https://github.com/google/google-visualization-issues/issues/2162 */
        </style>
        <load-spinner id="load"></load-spinner>
        <div id="container" style="display: none;" class="ss-flex-column ss-flex-grow-1 ss-margin-top ss-margin-bottom">
            <widget-title title="Ingresos y gastos"></widget-title>
            <div class="ss-flex-row ss-flex-grow-1">
                <div class="table ss-margin-right">
                    <div class="ss-padding ss-flex-row ss-border-bottom-light">
                        <span class="account-col">Este mes</span>
                        <span class="header incomes-col">Ingresos</span>
                        <span class="header expenses-col">Gastos</span>
                    </div>
                    <template is="dom-repeat" items="{{report.accounts}}">
                        <div class="ss-padding ss-border-bottom-light ss-flex-row">
                            <span class="account-col">{{item.name}}</span>
                            <div class="ss-flex-row ss-flex-row-right incomes-col">
                                <cells-atom-amount class="amount" amount="{{item.incomes.total}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                            </div>
                            <div class="ss-flex-row ss-flex-row-right expenses-col">
                                <cells-atom-amount class="amount" amount="{{item.expenses.total}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                            </div>
                        <div>
                    </template>
                    <div class="ss-padding ss-flex-row">
                        <span class="ss-flex-grow-1 ss-bold">TOTAL</span>
                        <div class="ss-flex-row ss-flex-row-right incomes-col">
                            <cells-atom-amount class="amount-large" amount="{{report.total.incomes}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                        </div>
                        <div class="ss-flex-row ss-flex-row-right expenses-col">
                            <cells-atom-amount class="amount-large" amount="{{report.total.expenses}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                        </div>
                    </div>
                </div>
                <div>
                    <span class="chart-title">Evolución en el último año</span>
                    <div id="chart_div" class="chart"></div>
                </div>
            </div>
        </div>

        <generic-dm id="report" endpoint="/reports/{{startdate}}/{{enddate}}"
        on-get-success="_loaded"
        ></generic-dm>
    </template>

    <script>
    class HomeIncomesExpenses extends Polymer.Element {
        static get is() {
            return 'home-incomes-expenses';
        }

        static get properties() {
            return {
            };
        }

        load() {
            this.$.container.style.display = 'none';
            this.$.load.show();
            google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'es'});
            google.charts.setOnLoadCallback(this._loadChart.bind(this));
        }

        reset() {
            this.report = undefined;
            this.data = undefined;
        }

        _loadChart() {
            this.months = 0;
            this.maxMonths = 12;
            this.data = [];
            this._fetchNextMonth();
        }

        _fetchNextMonth() {
            var month = this._month(moment(), this.months);
            this.startdate = month[0];
            this.enddate = month[1];
            this.months = this.months + 1;
            this.$.report.get();
        }

        _loaded(data) {
            var d = data.detail;
            if (this.months == 1) {
                this.report = d;
                console.info(HomeIncomesExpenses.is, this.report);
            }
            if (this.report.accounts.length > 0) {
                this.data.unshift([moment(d.startDate).format("MMM"), d.total.incomes, d.total.expenses]);
                if (this.months < this.maxMonths) {
                    this._fetchNextMonth();
                } else {
                    console.info(HomeIncomesExpenses.is, this.data);
                    this.$.load.hide();
                    this.$.container.style.display = 'block';
                    this.show();
                }
            } else {
                this.$.load.hide();
            }
        }

        show() {
            if (this.data && this.data.length > 0) {
                this._drawChart();
            }
        }

        visible() {
            this.show();
        }

        _month(now, monthsBefore) {
            var result = [];
            var date = now.date(1).subtract(monthsBefore, 'months');
            result.push(date.format("YYYY-MM-DD"));
            date.add(1,'months').subtract(1, 'days');
            result.push(date.format("YYYY-MM-DD"));
            return result;
        }

        _drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mes');
            data.addColumn('number', 'Ingresos');
            data.addColumn('number', 'Gastos');

            data.addRows(this.data);

            var options = {
                vAxis: {minValue: 0, baselineColor: '#F0F0F0', gridlines: {color: '#F0F0F0'}, viewWindowMode: "explicit", viewWindow:{ min: 0 }},
                chartArea: {left: 80, right: 15, height: '80%'},
                colors: ['#2A86CA','#5BBEFF'],
                hAxis: {
                    minValue: 0,
                    baselineColor: 'none', gridlines: {color: 'none'}
                },
                legend: {position: 'none'}
            };
            var chart = new google.visualization.ColumnChart(this.$.chart_div);
            chart.draw(data, options);

            this.options = options;
            this.chart = chart;
        }
    }
    customElements.define(HomeIncomesExpenses.is, HomeIncomesExpenses);
    </script>
</dom-module>
