<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../../bower_components/cells-atom-amount/cells-atom-amount.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="accounts-incomes-expenses">
    <template>
        <style include="shared-styles"></style>
        <style>
        :host {
            display: flex;
            flex-direction: row;
            min-height: 350px;
        }
        .table {
            width: 400px;
        }
        .account-col {
            width: 160px;
        }
        .incomes-col {
            width: 120px;
        }
        .expenses-col {
            width: 120px;
        }
        .header {
            text-align: right;
        }
        </style>
        <div class="table ss-margin-right">
            <div class="ss-padding ss-flex-row ss-border-bottom-light">
                <span class="account-col">{{title}}</span>
                <span class="header incomes-col">Ingresos</span>
                <span class="header expenses-col">Gastos</span>
            </div>
            <template is="dom-repeat" items="{{report.accounts}}">
                <div class="ss-padding ss-border-bottom-light ss-flex-row">
                    <span class="account-col">{{item.name}}</span>
                    <div class="ss-flex-row ss-flex-row-right incomes-col">
                        <cells-atom-amount class="amount" amount="{{item.incomes.total}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                    </div>
                    <div class="ss-flex-row ss-flex-row-right expenses-col">
                        <cells-atom-amount class="amount" amount="{{item.expenses.total}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                    </div>
                <div>
            </template>
            <div class="ss-padding ss-flex-row">
                <span class="ss-flex-grow-1 ss-bold">TOTAL</span>
                <div class="ss-flex-row ss-flex-row-right incomes-col">
                    <cells-atom-amount class="amount-large" amount="{{report.total.incomes}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                </div>
                <div class="ss-flex-row ss-flex-row-right expenses-col">
                    <cells-atom-amount class="amount-large" amount="{{report.total.expenses}}" currency-code="EUR" language="es" zero-decimals-hidden></cells-atom-amount>
                </div>
            </div>
        </div>
    </template>

    <script>
    class AccountsIncomesExpenses extends Polymer.Element {
        static get is() {
            return 'accounts-incomes-expenses';
        }

        static get properties() {
            return {
                report: Object,
                title: String
            };
        }
    }
    customElements.define(AccountsIncomesExpenses.is, AccountsIncomesExpenses);
    </script>
</dom-module>
