<link rel="import" href="../../../bower_components/polymer/polymer-element.html">

<dom-module id="accounts-history">
    <template>
        <style>
        :host {
            display: flex;
            flex-direction: column;
            min-height: 400px;
        }
        .chart {
            height: 100%;
            width: 100%;
        }
        span {
            display: block;
            margin-left: 100px;
            margin-top: 8px;
        }
        svg > g > g:last-child { pointer-events: none } /* https://github.com/google/google-visualization-issues/issues/2162 */
        </style>
        <template  is="dom-if" if="{{title}}">
            <span>{{title}}</span>
        </template>
        <div id="chart_div" class="chart"></div>
    </template>

    <script>
    class AccountsHistory extends Polymer.Element {
        static get is() {
            return 'accounts-history';
        }

        static get properties() {
            return {
                data: {
                    type: Object,
                    observer: "_dataChanged"
                },
                title: String
            };
        }

        show() {
            if (this.data && this.data.length > 0) {
                this._drawChart();
            }
        }

        _dataChanged() {
            google.charts.load('current', {packages: ['corechart'], 'language': 'es'});
            google.charts.setOnLoadCallback(this._drawChart.bind(this));
        }

        _drawChart() {
            var aux = [];
            var names = ['Fecha'];
            this.data[0].accounts.forEach(function(acc) {
                names.push(acc.name);
            });
            aux.push(names);

            this.data.forEach(function(bal) {
                var row = [];
                row.push(moment(bal.date).format("DD/MM/YYYY"));
                bal.accounts.forEach(function(acc) {
                    row.push(acc.balance);
                });
                aux.push(row);
            });

            var data = google.visualization.arrayToDataTable(aux);

            var options = {
                isStacked: true,
                vAxis: {minValue: 0, baselineColor: '#F0F0F0', gridlines: {color: '#F0F0F0'}, viewWindowMode: "explicit", viewWindow:{ min: 0 }},
                hAxis: {slantedTextAngle: 90},
                chartArea: {left: 100, right: 80, top: 30, height: '60%'},
                legend: {position: 'none'},
                areaOpacity: 0.8,
                colors: ['#2A86CA','#5BBEFF']
            };

            var chart = new google.visualization.AreaChart(this.$.chart_div);
            chart.draw(data, options);
        }
    }
    customElements.define(AccountsHistory.is, AccountsHistory);
    </script>
</dom-module>
