<link rel="import" href="../../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../shared-styles.html">

<dom-module id="incomes-expenses-chart">
    <template>
        <style include="shared-styles"></style>
        <style>
        :host {
            display: flex;
            flex-direction: row;
            min-height: 350px;
        }
        .container {
            width: 100%;
            height: 100%;
        }
        .chart {
            width: 100%;
            height: 100%;
        }
        .chart-title {
            display: block;
            margin-left: 100px;
            margin-top: 8px;
        }
        svg > g > g:last-child { pointer-events: none } /* https://github.com/google/google-visualization-issues/issues/2162 */
        </style>
        <div class="container">
            <template  is="dom-if" if="{{title}}">
                <span class="chart-title">{{title}}</span>
            </template>
            <div id="chart_div" class="chart"></div>
        </div>
    </template>

    <script>
    class IncomesExpensesChart extends Polymer.Element {
        static get is() {
            return 'incomes-expenses-chart';
        }

        static get properties() {
            return {
                title: String,
                data: {
                    type: Object,
                    observer: "_dataChanged"
                }
            };
        }

        _dataChanged() {
            google.charts.load('current', {packages: ['corechart', 'bar'], 'language': 'es'});
            google.charts.setOnLoadCallback(this.show.bind(this));
        }

        show() {
            if (this.data && this.data.length > 0) {
                this._drawChart();
            }
        }

        _drawChart() {
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Mes');
            data.addColumn('number', 'Ingresos');
            data.addColumn('number', 'Gastos');

            data.addRows(this.data);

            var options = {
                vAxis: {minValue: 0, baselineColor: '#F0F0F0', gridlines: {color: '#F0F0F0'}, viewWindowMode: "explicit", viewWindow:{ min: 0 }},
                chartArea: {left: 100, right: 10, top: 20, height: '80%'},
                colors: ['#2A86CA','#5BBEFF'],
                hAxis: {
                    minValue: 0,
                    baselineColor: 'none', gridlines: {color: 'none'},
                    slantedTextAngle: 90
                },
                legend: {position: 'none'}
            };
            var chart = new google.visualization.ColumnChart(this.$.chart_div);
            chart.draw(data, options);
        }
    }
    customElements.define(IncomesExpensesChart.is, IncomesExpensesChart);
    </script>
</dom-module>
